html {
  box-sizing: border-box;
}

a {
  color: #2d8985;
}

a:visited {
  color: #2d8986;
  text-shadow: 1px 1px #0a6b66;
}

a:hover {
  color: red;
}

body {
  background-color: white;
  margin: 20px;
}

fieldset {
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  background-color: watermelon;
  border-radius: 2%;
}

legend {
  color: #2d8985
}

#contacts {
  float: right;
  cursor: pointer;
}

h2 {
  text-align: center;
  border: 10px;
}

h1 {
  text-align: center;
}


/*.img {
  height: 300px;
  width: 100;
  background-position: 50%;
}
*/

.tooltip {
  position: relative;
  display: inline;
}

.tooltip-container {
  visibility: hidden;
  position: absolute;
  right: 0;
  z-index: 1;
  overflow: hidden;
}

.tooltip-container:before {
  content: "";
  display: block;
  height: 1px;
}

.tooltiptext {
  background-color: white;
  font-family: monospace;
  font-size: 20px;
  padding: 30px;
  border-radius: 20px;
  border: 3px solid green;
  position: relative;
  top: -102px;
  opacity: 0;
  transition: opacity 0.3s, top 0.3s;
}


/*
img {
  border: 1px solid #ccc
}

div.img img {
  width: 100%;
  height: auto;
}

*/

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.tooltip:hover .tooltip-container {
  visibility: visible;
}

.tooltip:hover .tooltiptext {
  top: 0;
  opacity: 1;
}


/*
.items {
width: 100%;
height: 100%;
background-size: cover;
background-position: 50%;

*/

.colourhand {
  color: #B6DEDC;
  font-family: monospace;
  font-size: 90px;
  text-align: center;
  text-shadow: 1px 1px 2px #0a6b66;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background: white;
  box-shadow: 0 1px 1px white;
}

.table {
  font-family: cursive;
  font-size: 30px
}

.policies {
  text-decoration: none;
}

.shipping {
  text-decoration: none;
}

.make-a-custom-order {
  text-decoration: none;
}

.background {
  background-color: white;
}

.ts {
  float: left;
  width: 33%;
  height: 100%;

}
/*
.btn-social {
  width: 100px;
  position: relative;
  opacity: 0.5;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-social:hover {
  transform: scale(1.5, 1.5);
  opacity: 1;
}


.item {
  float: left;
  width: calc(33.33% - 4px);
  height: 100%;
  color: #1aeae0;
  padding: 5px 5px 20%;
  padding-bottom: 100%;
  /* border: 2px solid transparent; 
  margin: 10px;
  box-shadow: 0.5px 0.5px 3.5px 0 rgba(0,0,0,.2);
}
/*.item-image {
    /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 100%;
}

.item.selected {
  float: none;
  clear: both;
  width: 100%;
}

.item:hover .desc {
  opacity: 0.9;
  transition: 0.3s;
}
*/
.desc {
  opacity: 0;
  color: black;
  font-family: monospace;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
  border-radius: 15px;
}

.navigation {
  padding: 0 20px;
  font-family: monospace;
  font-size: 25px;
}

.navigation footer a {
  float: left;
  border-left: 0;
}

.navigation li {
  display: inline-block;
  list-style-type: afar;
}

.navigation li:before {
  content: "| ";
}

.navigation li:last-child:before, .navigation li:first-child:before {
  content: "";
}

.social {
  background-image: url(img/social.png);
  display: inline-block;
  width: 64px;
  height: 64px;
  background-size: 676px auto;
  background-repeat: no-repeat;
}

.social.instagram {
  background-position: -256px 0;
  float: left;
}

.social.facebook {
  background-position: -64px 0;
  float: left;
}

#footer {
  padding-top: 10px;
  padding-left: 10px;
  clear: both;
  width: 100%;
  background-color: #b6dedc;
  border-radius: 15px;
  /* height: 100px; */
}

#footer div {
  padding: 30px;
  float: left;
  width: 33%;
  text-align: center;
  font-size: 25px;
  font-family: monospace;
}

#footer div a {
  padding: 50px;
  float: center;
  width: 50%;
  text-align: center;
  color: white;
}

#footer div a:hover {
  opacity: 0.5;
  transition: 0.5s;
}

#footer img. a {
  width: 50px;
  height: 50px;
}

#header {
  padding: 10px;
  background-color: #b6dedc;
  border-radius: 15px;
}

.postman {
  float: right;
  margin-right: 55px;
  width: 200px;
  height: 200px;
}

.policies1 {
  float: left;
  margin-right: 55px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
}

.footershipping {
  padding: 0 20px;
  font-family: monospace;
  font-size: 25px;
  display: inline-block;
  text-decoration: none;
}

body.index #footer .index, body.postage #footer .postage, body.policies #footer .policies {
  display: none;
}

body.index {
  padding-top: 104px;
}

#header a {
  float: left;
}

.order {
  float: right;
  width: 25%;
}
.buttonitems {
  width: 75%;
}